body {
  color: #f9f8e5;
  font-family: poppins;
}

header {
  width: 100%;
  height: 84px;
  background-color: #546a7b;
  font-size: 32px;
  font-family: poppins;

}

.colmar-title {
  font-weight: bold;
  margin-left: 10px;
}


.academy-title {
  opacity: .5;
  margin-left: -10px;
}

.logo-box {
  display: inline-block;
  font-size: 32px;
}

.colmarLogo {
  height: 60px;
}

nav {
  display: inline-block;
  margin-left: 43%;
}

nav li {
  display: inline-block;
  margin-right: 16px;
  font-size: 18px;
}

nav a {
  text-decoration: none;
}
/* banner container css */

.banner-container {
  background-color: #123c72;
  height: 650px;
  width: 100%;
  display: flex;
  padding-top: 32px;
}

.banner-image {
  height: 600px;
  width: 60%;
  margin: 0 24px;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
}


.banner-info h1 {
  font-weight: bold;
  font-size: 55px;
  padding-top: 140px;
  margin-left: 24px;
}

.banner-info p {
  font-size: 30px;
  margin-left: 24px;
  margin-top: 40px;
}

.banner-btn {
  background-color: #9ea3b0;
  border: #9ea3b0;
  color: black;
  padding: 8px 160px;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

.main-container {
  display: flex;
  background-color: #9ea3b0;
}

/* main container css */
.first-container {
  width: 60%;
  margin-left: 24px;
}

.first-container img {
  margin: 32px 0px;
  height: 450px;
  width: 80%;
}

.first-container h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
}

.first-container p {
  font-size: 16px;
  margin-bottom: 24px;
}

.first-container span {
  margin-bottom: 32px;
}

/* right side of main container */

.second-container {
  width: 40%;
  border-left: 1px solid #e4c3ad;
  margin-top: 10px;
}



/* learning container */
.learning-container {
  height: 1000px;
  background-color: #546a7b;
  /* margin-top: 32px; */
}

.learning-container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 32px;
}

/* learning section */
.course-boxes {
  margin: 16px 82px;
  display: flex;
  flex-wrap: wrap;
}

.course-box {
  height: 350px;
  width: 28%;
  background-color: #9ea3b0;
  margin: 16px 22px;
}

.course-info {
  margin: 16px;
}

.course-info h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.course-info span {
  margin-top: 8px;
}

.course-image-1 {
  height: 200px;
  background-image: url("../images/course-software.jpg");
  background-position: center;
  background-size: cover;
}

.course-image-2 {
  height: 200px;
  background-image: url("../images/course-computer-art.jpg");
  background-position: center;
  background-size: cover;
}

.course-image-3 {
  height: 200px;
  background-image: url("../images/course-design.jpg");
  background-position: center;
  background-size: cover;
}

.course-image-4 {
  height: 200px;
  background-image: url("../images/course-data.jpg");
  background-position: center;
  background-size: cover;
}

.course-image-5 {
  height: 200px;
  background-image: url("../images/course-business.jpg");
  background-position: center;
  background-size: cover;
}

.course-image-6 {
  height: 200px;
  background-image: url("../images/course-marketing.jpg");
  background-position: center;
  background-size: cover;
}

/* thesis container */
.thesis-container {
  height: 900px;
  background-color: #123c72;
}

.thesis-container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 32px;
}

.thesis-section {
  display: flex;
}

video {
  height: 500px;
  width:100%;

}
.video-div {
  width:60%;
  margin-left: 24px;
}

.video-div p {
  font-size: 20px;
}


.sideBar-box {

  width: 90%;
  display: flex;
  margin: 1px 32px;
  padding: 16px 0;
}

.sideBar-box img {
  margin: 16px;
  height: 200px;
}

.sideBar-box h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 8px;
  margin-top: 50px;
}

.sideBar-box p {
  margin-bottom: 8px;
  margin-left: 8px;
  font-size: 20px;
}

.sideBar-box a {
  margin-left: 8px;
  font-size: 20px;
}


/* footer section */
footer {
  height: 100px;

  display: flex;
  background-color: #546a7b;
}

footer span {
  margin-left: 800px;
}
